[2022-05-25 05:29] #478 closed

[2022-05-25 21:14] notAperson535 commented on #476
@glitch128 like a changelog?

[2022-05-25 21:15] notAperson535 commented on #477
@glitch128 should they snap to a grid and not be able to be on top of each other?

[2022-05-25 21:17] notAperson535 commented on #463
You also don't have to use this repo as a base, and could make it on your own like this: https://win11-tutorial.notaperson535.is-a.dev/

[2022-05-25 21:31] glitch128 commented on #476
yes

[2022-05-26 12:08] onion108 commented on #463
ok

[2022-05-26 12:08] #463 closed

[2022-05-26 12:28] notAperson535 commented on #428
This is a lot harder to do than you might think.

[2022-05-27 10:57] Lukas-Batema commented on #448
sus, @yashash1511

[2022-05-28 21:24] Lukas-Batema commented on #292
Gonna work on this now!

[2022-05-28 21:35] Lukas-Batema commented on #292
@andrewstech tf

[2022-05-29 10:03] andrewstech commented on #426
So the translation system required translation support to be coded into each component. Unfortunately this takes time. So some parts will appear in your language but others will not.

[2022-05-29 13:43] Lukas-Batema commented on #426
I gotchu @andrewstech

[2022-05-30 18:07] BartekMilew commented on #477
@glitch128

Is it correct to add to _apps.utils_ new argument to **position**  and then add translate to **div className="dskApp"** ?

[2022-05-31 14:10] markandpreston123 opened #491 "[Bug] In settings, clicking accounts leads to BSOD"
### What happened?

In the Settings Apps, clicking on Accounts leads to a BSOD with stop code: O2 is undefined.

### To reproduce the behavior?

1) Go to Settings
2) Click Accounts.
there.

### What browser are you seeing the problem on?

Firefox

[2022-05-31 16:15] glitch128 commented on #477
ummmmmmm
I don't know.
I don't know how to code at all.

[2022-05-31 17:36] yashash1511 commented on #491
works fine on edge (chromium)

https://user-images.githubusercontent.com/89068816/171240289-14d5ce84-9994-4e12-891f-ea7f5ee4cb78.mp4

[2022-06-01 02:17] #423 closed

[2022-06-03 17:44] notAperson535 commented on #491
@yashash1511 Nice! Another edge user!

[2022-06-04 14:30] buhron opened #496 "Redirect store to microsoft web store"
Just do it.

[2022-06-04 14:50] andrewstech commented on #496
No

[2022-06-04 14:50] #496 closed

[2022-06-06 21:43] glitch128 opened #501 "Auto hide taskbar"
**Describe the solution you'd like**
An option to autohide the taskbar for more screen space.

[2022-06-07 09:53] yashash1511 commented on #491
@markandpreston123 we are unable to repro this can you share something like a screenrecording

[2022-06-07 11:13] notAperson535 commented on #491
I saw this too but it only happened once on one of my computers. Try clearing the cache and cookies to "update"

[2022-06-09 07:49] andrewstech opened #512 "Desktop bump"

[2022-06-09 08:49] #301 closed

[2022-06-09 09:17] yashash1511 commented on #501
Duplicate of #374

[2022-06-11 15:36] ItsNotBigPotato opened #521 "[Bug]: blue screen"
### What happened?

the desktop blue screens every time I go on to the website

### What browser are you seeing the problem on?

Chrome

[2022-06-11 16:37] yashash1511 commented on #521
hi can you please share a screenshot as sometimes the blue screen has a error message which might help us find the issue

[2022-06-11 18:17] Lukas-Batema opened #523 "Yashash isn't elgible to be a Code Owner"
https://github.com/blueedgetechno/win11React/blob/ac3691ba67911434909214f0ad569969e1e2f784/.github/CODEOWNERS#L4

Currently, he does not have write access to this repo, which means he cannot be a code owner.

[2022-06-11 18:24] ItsNotBigPotato commented on #521
hello here is the screenshot

![image](https://user-images.githubusercontent.com/107315178/173200349-fd837613-c4ac-4947-bcb5-a663bdbeae6c.png)

I will try one of those suggestions
thanks for your help

[2022-06-11 19:05] Lukas-Batema commented on #523
CC. @yashash1511

[2022-06-11 19:32] yashash1511 commented on #523
blue shall give me back write access once he comes online

[2022-06-11 20:22] andrewstech commented on #523
<html>
<body>

  |  
-- | --
  |  
  |  
  |  
  |  
  |  
  |  
  | <!DOCTYPE html>
  | <html lang="en" data-color-mode="light" data-light-theme="light" data-dark-theme="dark" data-a11y-animated-images="system">
  | <head>
  | <meta charset="utf-8">
  | <link rel="dns-prefetch" href="https://github.githubassets.com">
  | <link rel="dns-prefetch" href="https://avatars.githubusercontent.com">
  | <

[2022-06-11 21:06] Lukas-Batema commented on #523
wtf, and why does quoting it not work??? @andrewstech

[2022-06-12 07:22] MalikIdreesHasanKhan commented on #260
I'm sorry.  I cant do it....

I'm just kidding, The website is now live at : https://malikidreeshasankhan.github.io/win11react-landing-page/
The website is actually two websites. The landing page is custom, and hosted at  https://malikidreeshasankhan.github.io/win11react-landing-page/, while the docs part is powered by docsify and hosted at https://malikidreeshasankhan.github.io/win11react-docs-do

[2022-06-12 07:23] MalikIdreesHasanKhan commented on #260
Also when I used browserstack to test this the mobile site loaded on android but not on iphone?

[2022-06-12 11:39] yashash1511 commented on #521
@ItsNotBigPotato did any of these made the problem go away

[2022-06-12 14:55] MalikIdreesHasanKhan commented on #260
@andrewstech If you will please reopen and remove the do-not-merge label?

[2022-06-12 15:14] andrewstech commented on #260
Issue reopened

[2022-06-12 15:21] MalikIdreesHasanKhan commented on #260
Thank You!

[2022-06-12 19:46] ItsNotBigPotato commented on #521
@yashash1511 yes thanks a lot for your help

[2022-06-13 07:50] yashash1511 commented on #521
@Lukas-Batema please close this one

[2022-06-13 17:45] #521 closed

[2022-06-15 07:12] MalikIdreesHasanKhan commented on #260
@yashash1511  We can have the poll on discord now that the website is complete.

[2022-06-15 07:14] yashash1511 commented on #260
sure

[2022-06-15 07:15] MalikIdreesHasanKhan commented on #260
wow thats fast

[2022-06-16 06:27] yashash1511 commented on #260
![image](https://user-images.githubusercontent.com/89068816/174005584-66621351-61c9-4dc4-ac6e-00787974f638.png)
here are the results of the poll

[2022-06-16 06:28] yashash1511 commented on #260
![image](https://user-images.githubusercontent.com/89068816/174005534-d4f2db8f-7e24-40d9-82e2-dff965a94cf1.png)

[2022-06-16 07:45] MalikIdreesHasanKhan commented on #260
I agree as well. Closing this issue. Also, I am leaving for vacation next week, on the 24th.

[2022-06-16 07:45] #260 closed

[2022-06-16 15:20] lgrachov commented on #448
If using the Lua programming language it will won’t open the page

[2022-06-16 16:06] MalikIdreesHasanKhan commented on #448
Isn't Lua a game development language?

[2022-06-18 02:59] yashash1511 commented on #523
Blue added me back :)

[2022-06-18 02:59] #523 closed

[2022-06-21 04:30] #501 closed

[2022-06-21 04:31] yashash1511 commented on #491
can't repro

[2022-06-21 04:31] #491 closed

[2022-06-21 16:54] Pixel556 opened #542 "[Bug]: Website isn't loading"
### What happened?

The website isn't loading. Here is a screenshot of it:
![image](https://user-images.githubusercontent.com/95143545/174855570-8f53a35d-e3c3-4ec3-96b3-1df25bcac87a.png)
I had previously opened calculator.

### To reproduce the behavior?

Go to https://win11.blueedge.me

### What browser are you seeing the problem on?

Chrome

[2022-06-22 08:26] Posandu commented on #292
- [x] signed

[2022-06-22 08:36] yashash1511 commented on #542
@Pixel556 looks like the css is not loading (weird)
are u using some extensions if so try disabling it and then loading the site

[2022-06-22 10:13] Pixel556 commented on #542
It was one of the extensions that was causing it. Thanks for your help @yashash1511

[2022-06-22 10:13] #542 closed

[2022-06-22 20:46] MrBeatEmCodesUp commented on #301
u know, i meant not having "BlueEdge as the name, instead having user
typing it themselves.

But OOBE experince and setup would be awsome

Thanks!

On Thu, Jun 9, 2022, 03:49 andrewstech ***@***.***> wrote:

[2022-06-22 20:53] Lukas-Batema commented on #301
Go to start menu then click on get started.

On Wed, Jun 22, 2022 at 16:47, MrBeatEmCodesUp ***@***.***>
wrote:

--
Best Wishes,
Luke Batema (JavaScript and Front End Developer, Creator of cubelang)

[2022-06-22 20:54] Lukas-Batema commented on #301
Go to start menu then click on get started.

[2022-06-22 23:07] MrBeatEmCodesUp opened #545 "Microsoft Account / Name Modifier / App Downloader / Exe Downloader / Real Store / Fix OOBE / Pressable Settngs"
Now,

I know we will work at least a Month to do this, Us Mods would be online 24/7, But this would make this Sim not just A Sim, But A COPY of Windows 11 Pro, Our Utimante Goal..

1. A Microsoft Account: If we Link Microsoft Accounts, We Can Modify the name on Settings, That brings us to the 2nd and 3rd Settings........
2/3. Fix Settings and Change Name: OH COME ON! WE ALL KNOW THAT THERE IS ONLY

[2022-06-22 23:09] MrBeatEmCodesUp commented on #477
Yes, i have 8 Years time of Coding

[2022-06-22 23:15] MrBeatEmCodesUp commented on #1
https://github.com/blueedgetechno/win11React/issues/545 is my suggestion

[2022-06-22 23:20] MrBeatEmCodesUp commented on #1
also,add a apk download for chromeos/Android users

[2022-06-22 23:35] Lukas-Batema commented on #545
This probably would cause issues with Microsoft Copyright, as before. @blueedgetechno and @andrewstech, thoughts?

[2022-06-22 23:48] MrBeatEmCodesUp commented on #545
well just do the parts u can
ok

[2022-06-22 23:48] MrBeatEmCodesUp commented on #545
chrome

[2022-06-22 23:49] Lukas-Batema commented on #545
Will debug tomorrow, I have to go.

[2022-06-22 23:53] Lukas-Batema commented on #545
Ykw I'll do it rn.

[2022-06-22 23:56] Lukas-Batema commented on #545
Cannot reproduce, works for me on fresh install of Chrome Dev.

[2022-06-22 23:57] Lukas-Batema commented on #545
Try `ctrl + F4`

[2022-06-23 04:11] yashash1511 commented on #545
no its `Ctrl + F5` for hard refresh , F4 is for closing

[2022-06-23 04:22] yashash1511 commented on #545
no need to link msft account u can do that just from the oobe

as u say it is so easy why don't u do it

for supporting .exe we could try boxedwine & js-dos (as used by daedalOS) but that is way beyond my level

[2022-06-23 04:37] yashash1511 commented on #545
no need to link msft account u can set the name from the oobe.

if u think it is so easy why don't u do it

for supporting .exe we could try boxedwine (16/32-bit apps) & js-dos (as used by daedalOS) but that is way beyond my level

idk what needs to be fixed the only functional thing in OOBE is changing name & that works fine.

[2022-06-23 15:21] MrBeatEmCodesUp commented on #545
It worked
Thanks

[2022-06-23 15:23] MrBeatEmCodesUp commented on #545
Also, I only know java, not react
So I can't

[2022-06-23 15:28] #545 closed

[2022-06-24 17:14] MrM98 opened #548 "Future suggestion"
It will amazing if ms. word and excel can open in win11react, even the features just like ms. office web.
But honestly i hope more (full features) of them, cause i'd like to buy you a coffee than drop much money for windows 365 (and my only need is ms word and excel) for work.

And next (sorry i ask too much LoL), you can build something like windows 365 or emulator apk with affordable pricing in

[2022-06-25 02:13] yashash1511 commented on #548
they can be downloaded from the store.

[2022-06-25 02:13] #548 closed

[2022-06-26 02:16] #421 closed

[2022-06-27 22:50] MrBeatEmCodesUp commented on #545
bruhhhhh

[2022-06-29 15:36] EJD799 opened #557 "Improve Fluent Design"
The style doesn't completely match Fluent Design. For example, real Fluent buttons have a click effect that could be implemented.

https://user-images.githubusercontent.com/108157991/176476289-392a9df2-5f65-4f71-baa8-e880723f296e.mp4
_Win11React_

https://user-images.githubusercontent.com/108157991/176477013-d33e2dce-51bb-4c68-8ecb-9d3dfba27ade.mp4
_Real Fluent_

CSS Implementation:  [FDWeb](https

[2022-06-29 16:01] yashash1511 commented on #557
yes we know its not as close to the real stuff as it should be but we are working on it :)

https://fluent-svelte.vercel.app/ has really good recreation of the fluent design

[2022-06-29 16:12] EJD799 commented on #557
Yes, fluent-svelte is much more similar, but it's written in React, not SvelteKit!

[2022-06-29 16:15] yashash1511 commented on #557
doesn't matter we just ~copy~ the css stuff mostly

[2022-07-01 02:17] #428 closed

[2022-07-01 12:14] Ramses13th opened #562 "[Bug]: error onClick settings > accounts"
### What happened?

Failed to load resource: net::ERR_BLOCKED_BY_CLIENT
/locales/ro/translate.json:1          Failed to load resource: the server responded with a status of 404 ()
o575799.ingest.sentry.io/api/6251530/envelope/?sentry_key=6c16d34365334e0fbee992044f9d223b&sentry_version=7:1          Failed to load resource: net::ERR_BLOCKED_BY_CLIENT
undefined.png:1          Failed to load resource:

[2022-07-01 12:15] Ramses13th commented on #562
https://ctrl.vi/i/FkSq8afIe

[2022-07-01 12:22] yashash1511 commented on #562
pls directly send the screenshots in the future not via those links

[2022-07-01 12:26] yashash1511 commented on #562
pls directly send the screenshots in the future not via those links

i think the cause is that u changed the username from the OOBE setup to empty

[2022-07-02 18:33] Crafterferry opened #563 "[Bug]: System error"
### What happened?

BSOD!!

### To reproduce the behavior?

clicked accounts on parameters

### What browser are you seeing the problem on?

Chrome

[2022-07-03 08:23] yashash1511 commented on #563
Duplicate of #562

[2022-07-03 08:23] #563 closed

[2022-07-03 08:25] yashash1511 commented on #562
@Crafterferry @Ramses13th  can you please detail on how to reproduce this issue something like a screen recording showing the exact steps would be very helpful

[2022-07-04 09:14] Adiixyz opened #566 "[Bug]: error when clicking accounts on setting"
### What happened?

A bug happened!

idk what happened

ill give a vid

https://user-images.githubusercontent.com/82200440/177123317-23ceb684-edd0-401e-8349-91d213198177.mp4

### To reproduce the behavior?

reproduce!

setings>accounts

### What browser are you seeing the problem on?

Chrome

[2022-07-05 12:25] yashash1511 commented on #566
Duplicate of #562

[2022-07-07 10:26] Posandu commented on #562
Try doing a hard reload and check if this issue persists.

[2022-07-16 22:17] andrewstech opened #586 "July update"

[2022-07-20 04:58] Stevanus-Christian commented on #476
Maybe you can add a windows security application

[2022-07-20 14:48] yashash1511 commented on #476
Thank you @Stevanus-Christian for your suggestion the current windows security app is the same as win10 (donno about insider channel) though there has been some news the it will get a redesign so once that happens we can look into it.

[2022-07-22 02:16] #448 closed

[2022-07-22 06:42] harunLog opened #596 "I want you to the mouse cursor to be a pointer when hovering a desktop app"

[2022-07-25 13:31] zyyxeza opened #600 "[Bug]: youtube cant open"
### What happened?

A bug happened!

youtube cant open in edge

i give a vid

https://user-images.githubusercontent.com/78718780/180789664-6ee2732f-2d7c-4563-84cd-8c23445e1b53.mp4

### To reproduce the behavior?

reproduce!

open edge>google=youtube>click youtube

### What browser are you seeing the problem on?

Chrome

[2022-07-25 14:32] Ccode-lang commented on #600
Probably can't iframe YouTube.

[2022-07-25 18:44] yashash1511 commented on #596
its not pointer in real win11

[2022-07-25 18:44] #596 closed

[2022-07-25 18:45] #600 closed

[2022-07-27 02:16] #374 closed

[2022-07-27 11:16] imzivko opened #605 "[Bug]: Correct typographical errors and mistakes in grammar, style, and spelling in settingsData.json"
### What happened?

Some of the entries inside settingsData.json have incorrect spelling - grammatical errors.

### To reproduce the behavior?

Open Settings and scroll through to find grammar/spelling errors.

### What browser are you seeing the problem on?

Chrome

[2022-07-27 17:48] #605 closed

[2022-07-28 08:30] #477 closed

[2022-07-30 10:31] WolfyGreyWolf opened #611 "Can you add a virtual file system"
**Is your feature request related to a problem? Please describe.**
I wanted to develop a notepad application , I realized that there was no solution to write or read files on Windows 11 React ... So I would like you to add a feature that would allow you to have a virtual file system ... I know it can be complicated and very long to add ...

I think you can use IDBFS to do that !

https://github.co

[2022-07-30 10:32] yannou000 commented on #611
Edit : It could also make the file explorer functional !

[2022-08-04 06:50] #557 closed

[2022-08-05 18:31] MrBeatEmCodesUp opened #624 "Settings"
Ok, i learned Javascript, you can't shutdown my idea.
What i wanted to say was:
                                                                             1.  MAKE SETTINGS WORK!
                                                                             2. CHANGE THE PROFILE PICTURE!
That is what i want. Ok, i know you will stupidify me for this, BUT this is the truth:
I am a 9 year old boy wh

[2022-08-05 21:28] andrewstech commented on #624
We are planning on adding some functionality but we have all been busy with work and other commitments.

There is a few settings that work but not much

[2022-08-06 09:23] TWINGSISTER opened #625 "[Bug]: deployment failing on various cloud providers"
### What happened?

Deploy works fine then vite fails. Running on free dynos in Heroku.

2022-08-06T08:39:38.347888+00:00 app[web.1]:
2022-08-06T08:39:38.347900+00:00 app[web.1]: > win11react@0.1.1 start
2022-08-06T08:39:38.347901+00:00 app[web.1]: > vite
2022-08-06T08:39:38.347901+00:00 app[web.1]:
2022-08-06T08:39:38.354156+00:00 app[web.1]: sh: 1: vite: not found
2022-08-06T08:39:38.484340+00:0

[2022-08-06 09:26] yashash1511 commented on #624
![image](https://user-images.githubusercontent.com/89068816/183243136-3ebf8d14-04db-4d5f-811e-44ab473e814e.png)

you probably should not be on github as you are just 9.

[2022-08-06 09:30] yashash1511 commented on #625
Thanks for bringing this issue to notice will look into it.

[2022-08-06 09:42] blueedgetechno commented on #624
or on internet for that matter

[2022-08-06 11:54] TWINGSISTER commented on #625
Can't get this working on Railway, too. There build fails
=========================
Using Detected Dockerfile
=========================
#1 [internal] load build definition from Dockerfile

#1 sha256:7f88cb51e95e2c56315400d13cca68c88c827740b1ad26af82a4b3a9aacb6b78
#1 transferring dockerfile: 683B done

#1 DONE 0.5s

#2 [internal] load .dockerignore
#2 sha256:34a6bb64a2c5daea0c2ead36d1be05dc194ba615

[2022-08-06 11:55] TWINGSISTER commented on #625
Fails on Railway too
`=========================
Using Detected Dockerfile
=========================
#1 [internal] load build definition from Dockerfile

#1 sha256:7f88cb51e95e2c56315400d13cca68c88c827740b1ad26af82a4b3a9aacb6b78
#1 transferring dockerfile: 683B done

#1 DONE 0.5s

#2 [internal] load .dockerignore
#2 sha256:34a6bb64a2c5daea0c2ead36d1be05dc194ba6158f043b12f3ea09b4a0055f6d
#2 transfer

[2022-08-06 11:57] TWINGSISTER commented on #625
Fails on railway, too, during build

Using Detected Dockerfile
=========================
#1 [internal] load build definition from Dockerfile

#1 sha256:7f88cb51e95e2c56315400d13cca68c88c827740b1ad26af82a4b3a9aacb6b78
#1 transferring dockerfile: 683B done

#1 DONE 0.5s

#2 [internal] load .dockerignore
#2 sha256:34a6bb64a2c5daea0c2ead36d1be05dc194ba6158f043b12f3ea09b4a0055f6d
#2 transferring contex

[2022-08-06 12:02] TWINGSISTER commented on #625
and also netlify
1:59:12 PM: Build ready to start
1:59:17 PM: build-image version: d7b3dbfb0846505993c9a131894d1858074c90b4 (focal)
1:59:17 PM: build-image tag: v4.10.1
1:59:17 PM: buildbot version: fe6512288e75c8fa5aadaebb51ed1f96e9314fd4
1:59:18 PM: Fetching cached dependencies
1:59:18 PM: Failed to fetch cache, continuing with build
1:59:18 PM: Starting to prepare the repo for build
1:59:18 PM:

[2022-08-06 12:06] TWINGSISTER commented on #625
and also Vercel
[14:04:47.880] Cloning github.com/TWINGSISTER/winreact16 (Branch: main, Commit: e973349)
[14:04:48.759] Cloning completed: 878.295ms
[14:04:49.153] Installing build runtime...
[14:04:51.651] Build runtime installed: 2.498s
[14:04:52.154] Looking up build cache...
[14:04:52.390] Build Cache not found
[14:04:52.624] Detected `pnpm-lock.yaml` generated by pnpm 7...
[14:04:52.646] Inst

[2022-08-06 12:20] yashash1511 commented on #625
for railway it is trying to get the gh-pages branch which no longer exists

for vercel you need to set CI as false

[2022-08-06 14:02] TWINGSISTER commented on #625
Thanks for your prompt reply!
Sorry no experience in DevOps, Seemed to be this to be done, yet...
![image](https://user-images.githubusercontent.com/18615968/183252122-92971fbe-f3a0-4f50-907b-6a2214040579.png)
still...
[15:53:51.997] Cloning github.com/TWINGSISTER/reactw11 (Branch: main, Commit: e205f62)
[15:53:52.852] Cloning completed: 854.594ms
[15:53:53.016] Installing build runtime...
[15:53:

[2022-08-07 04:54] yashash1511 commented on #625
![image](https://user-images.githubusercontent.com/89068816/183275852-ce94b819-797b-4211-bf28-88c06aede42f.png)

for netlify i used these settings and it worked fine https://62ef4518ba5a2244993c3526--inquisitive-yeot-fb9676.netlify.app/ see for yourself

[2022-08-07 04:59] yashash1511 commented on #625
![image](https://user-images.githubusercontent.com/89068816/183275852-ce94b819-797b-4211-bf28-88c06aede42f.png)

for netlify i used these settings and it worked fine https://win11react-test.netlify.app see for yourself.

had to change build command to `npm run ghbuild` instead of `npm run build` by default & changed publist directory to `build` instead of `dist` .

similarly for other too few sett

[2022-08-07 04:59] #625 closed

[2022-08-12 02:17] #562 closed

[2022-08-13 09:45] TWINGSISTER commented on #611
It seems that this is a stateless application. Am I wrong? You cannot expect to get back here and find something you have done yesterday. Adding persistency would be a Giant Leap Forward but it will cause security issues. Spies could exchange plans for the next invasion in these files. So I suggest the first persistent thing you can add is to remember a password.

[2022-08-17 19:55] raghav2130 opened #637 "[Bug]: Volume not being controlled"
### What happened?

A bug happened!
Spotify volume is controlled properly by application
but main volume of window does not have any effect on overall system

### To reproduce the behavior?

reproduce!

### What browser are you seeing the problem on?

Chrome

[2022-08-23 00:28] WilliamDavidHarrison opened #638 "Move project to a different subdomain"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Move the demo to a subdomain like demo.win11react.com or app.win11react.com

Edit: do the same for the docs. Move them to like docs.win11react.com it would look cleaner.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2022-08-23 06:35] GoldenGoCoding opened #640 "improper app names(2) in start menu"
A very minor problem in the start menu; two apps name: 'Share' & 'White Board', have a wrong spelling and need to be renamed to, 'Sharepoint' & 'Whiteboard', respectively.

[2022-08-23 06:58] GoldenGoCoding opened #641 "Widgets pane is too wide"
- Issue: the widgets pane is too wide and blocks too much content in my screen which is a 1366x768 display, in real windows 11 the widgets pane is a lot thinner in my display.
- Solution: instead of setting a width in the unit of pixels set the width as a percentage.
- Code:
- ```
    .widPaneCont {
        --bg1: rgba(234, 234, 234, .25);
        --bg2: rgba(255, 255, 255, .5);
        --clr1: #f

[2022-08-23 07:21] GoldenGoCoding opened #642 "Popup guide for users that do not know how to get into full screen mode"
- Issue: When I shared this emulator to my friends they all wanted to get into full screen mode, I pressed f11 and it went full screen. If I wasn't there my friends would've kept the thought of going into full screen mode while using the emulator. This distracts them and doesn't let them enjoy the emulator.
- Solution: add a pop-up(in html) that tells the user to press f11 to go into full screen:

[2022-08-29 06:22] #640 closed

[2022-08-29 06:39] yashash1511 commented on #642
not required

[2022-08-29 06:39] #642 closed

[2022-08-29 06:59] yashash1511 commented on #641
will add max-width for smaller displays

[2022-08-29 06:59] #641 closed

[2022-08-29 20:54] notAperson535 commented on #638
@WilliamDavidHarrison It is already at win11react.com

[2022-08-29 22:15] WilliamDavidHarrison commented on #638
No the app isn't, the app is at https://win11.blueedge.me

[2022-08-30 00:02] notAperson535 commented on #638
@WilliamDavidHarrison it is at both

[2022-08-30 00:07] WilliamDavidHarrison commented on #638
@notAperson535 What do you mean?

[2022-09-02 15:41] notAperson535 commented on #638
@WilliamDavidHarrison sorry, I am wrong.

[2022-09-04 10:17] yashash1511 commented on #638
![image](https://user-images.githubusercontent.com/89068816/188308528-8f8b3b9b-2c60-4147-b351-3ae60656a177.png)

when searching for `win11` we come second only to msft ig changing the domain we use will negatively affect our rank on google search.

[2022-09-04 22:46] andrewstech opened #643 "UPDATE"
BUG UPDATE

[2022-09-04 22:55] #586 closed

[2022-09-04 22:55] #643 closed

[2022-09-04 22:55] andrewstech opened #644 "Desktop"

[2022-09-04 23:59] WilliamDavidHarrison commented on #638
Have it on both then maybe?

[2022-09-05 04:17] yashash1511 commented on #638
we have a blog on https://win11react.com ig it would be possible have it on app.win11react.com if that's what you mean

[2022-09-05 04:46] WilliamDavidHarrison commented on #638
@yashash1511 That's what I mean.

[2022-09-05 04:51] yashash1511 commented on #638
@andrewstech owns the domain win11react.com so ig he will have to make some records.

[2022-09-07 06:18] WilliamDavidHarrison opened #647 "Impersonated domain"
### What happened?

I believe the domain listed below is a fake copy of Win11React.

Go to: https://www.win11-react.cf

[2022-09-07 06:19] WilliamDavidHarrison commented on #647
(It's not a bug, please remove that label.)

[2022-09-07 10:46] Nihancoder opened #649 "Using files system properly"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-09-07 11:29] yashash1511 commented on #649
blank template

[2022-09-07 11:29] #649 closed

[2022-09-08 15:08] Colethecool360 opened #650 "Let us put a lock screen"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-09-08 18:36] Lukas-Batema commented on #647
How are we fake? You at least have to give us proof, you can't just say that, and expect us to comply, and who is sending you to take us down?

[2022-09-09 00:24] WilliamDavidHarrison commented on #647
I'm not saying **this** project is fake.

[2022-09-09 05:54] yashash1511 commented on #650
we already have one

[2022-09-09 11:02] Lukas-Batema commented on #647
Okay, my bad. It is not owned by us. Thank you for the notice!

[2022-09-09 11:14] Colethecool360 opened #651 "make it so we can change the name of the user and make a new profile pic and then make a password"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-09-09 11:50] yashash1511 commented on #651
you can change the name from the Get Started (open it from Start)

![image](https://user-images.githubusercontent.com/89068816/189343458-6d52925c-fe05-47a9-ab63-fa375e62e402.png)

[2022-09-09 13:30] Lukas-Batema commented on #650
I think you misunderstood the question, @yashash1511. They probably want a customisable one. I will re-open the issue until we can confirm otherwise.

[2022-09-09 13:37] yashash1511 commented on #650
ohh i see you mean changeable lockscreen images.

[2022-09-10 00:20] WilliamDavidHarrison commented on #647
Sorry for the confusion, I should have been more clear.

[2022-09-11 21:53] Lukas-Batema commented on #647
We are going to review this in our Discord staff channel, and will leave an update(s) when needed.

[2022-09-11 21:58] MelonicOverlord commented on #647
We are working on this currently, thanks ;)

[2022-09-13 11:14] Colethecool360 commented on #650
Yeah

[2022-09-13 11:24] Colethecool360 commented on #650
thats what i was saying

[2022-09-13 11:28] Colethecool360 commented on #650
im mean i dont rallly like the one on now but other people might so maybe like make that the default?

[2022-09-13 13:28] Colethecool360 commented on #651
ok thax

[2022-09-13 13:28] #651 closed

[2022-09-14 19:36] Aliyss commented on #647
Still working on it. No pressure.

[2022-09-14 23:38] Lukas-Batema commented on #650
Next time, please edit your original comment, instead of making multiple.

[2022-09-15 00:52] WilliamDavidHarrison commented on #647
Ok

[2022-09-15 11:38] Lukas-Batema commented on #647
@andrewstech added the (not-stale) label 4 hours ago

[2022-09-18 02:19] #611 closed

[2022-09-20 07:35] #644 closed

[2022-09-21 11:44] Colethecool360 commented on #650
ok well can u let us change the profile pic?

[2022-09-21 12:29] Lukas-Batema commented on #650
Be patient, it takes time to update code lol.

[2022-09-22 02:16] #637 closed

[2022-10-01 14:52] WolfyGreyWolf opened #657 "[Bug]: All is brocken :( !"
### What happened?

![image](https://user-images.githubusercontent.com/77587065/193415270-fb0f5123-75d9-4e0c-b357-5197e1d5a550.png)

### To reproduce the behavior?

Nothing !

### What browser are you seeing the problem on?

Microsoft Edge

[2022-10-01 20:46] rwiteshbera opened #658 "[Bug]: Settings search bar font color and font weight do not look like win11"
### What happened?

Inside settings, Search bar font color should be white and also font weight is not looking similar to win11.

Could you please assign me this issue.

![image](https://user-images.githubusercontent.com/73098407/193427681-f5f17f1d-823f-4003-8dc3-454888fef352.png)

### To reproduce the behavior?

reproduce!

### What browser are you seeing the problem on?

Chrome

[2022-10-02 10:09] #658 closed

[2022-10-02 20:04] Rohitchaudhary13 opened #663 "Let's make windows responsive"
**Is your feature request related to a problem? Please describe.**
whenever I land on a website I always check whether it's responsive or not, while looking at this, I found that it's not responsive, we may add this as a new feature.

**Describe the solution you'd like**
We can use tailwindCss or custom CSS to make it responsive.

Current issue is:
![issue](https://user-images.githubusercontent.co

[2022-10-02 20:05] Rohitchaudhary13 commented on #663
I would like to work on this!

[2022-10-02 20:24] andrewstech commented on #663
Go ahead :)

[2022-10-02 20:26] andrewstech commented on #657
What is broken

[2022-10-03 02:01] Stevanus-Christian commented on #476
wow the new look of windows security looks cool

[2022-10-03 08:31] nikhil1025 commented on #663
Hello,
I am a react developer with 3 years of experience in front-end and would like to contribute to this issue. Please allow me to work on this.

Thank you

[2022-10-04 15:38] chiaramistro opened #664 "Let's improve the items in Search tab"
**Is your feature request related to a problem? Please describe.**
When I enter in the Search tab, I see all the items on Top Apps. When I click on an item, the click works only if I click on the image (but not on the item itself, for example in the grey background).

**Describe the solution you'd like**
I would like to be able to click on the item instead of the image.

**Describe alternatives yo

[2022-10-04 15:38] chiaramistro commented on #664
I would like to work on this enhancement :)

[2022-10-04 19:49] MalikIdreesHasanKhan commented on #638
Also, you got to be very careful  with dns records. Deleting a domain and letting it's CNAME records dangle could lead to a potential subdomain takeover.

[2022-10-04 23:01] WilliamDavidHarrison commented on #638
Yes.

[2022-10-05 09:37] yashash1511 commented on #664
go ahead :) @chiaramistro

[2022-10-05 14:54] Oussamaosman02 opened #667 "[Bug]: Spanish traduction not set"
### What happened?

A bug happened!
The spanish traduction is traying to load but it doesn´t exists so return this consolo error:

- Failed to load resource: the server responded with a status of 404 ()
/locales/es-ES/translate.json:1

### To reproduce the behavior?

reproduce!
Load the home page

### What browser are you seeing the problem on?

Chrome

[2022-10-07 22:51] #292 closed

[2022-10-09 09:25] matteomessmer opened #669 "Improve Terminal"
There are some commands such as color and ping the could be added. There are more for sure, these are just some of top of my mind.
I could implement color for now and send a PR.
What do you think?

[2022-10-09 21:09] #664 closed

[2022-10-10 05:43] #669 closed

[2022-10-10 05:43] yashash1511 commented on #669
merged #671

[2022-10-10 12:31] #667 closed

[2022-10-10 19:10] chiaramistro commented on #664
Hello everyone. It is not clear to me why my contribution was not accepted and the issue has been closed.
The issue seems to have been resolved in pull request #672 which has the same code I wrote in my pull request #665. I am asking for feedback to know if I did something wrong in case I make future contributions.
Thanks :)

[2022-10-10 19:38] andrewstech commented on #664
I'm not sure ether. I've given you the HACKTOBERFEST-ACCEPTED label so your contribution will count towards your goal

[2022-10-10 19:44] chiaramistro commented on #664
Oh okay, I’m glad you explained. Thank you for your feedback!

[2022-10-11 18:05] bogascorp commented on #1
It has to do with out browsers handle CSS transforms VS absolute positions.

Take a look at the link below:
https://developer.mozilla.org/en-US/docs/Web/Performance/Fundamentals#use_css_transforms

[2022-10-12 07:15] Aarav238 opened #674 "Add battery saver icon on clicking on battery saver."
When we turn on battery saver there is no icon of battery saver like in real windows.

I will add a icon on battery  when we turn on battery saver, it will give a real windows experience to the user .
![no battery savwe sign](https://user-images.githubusercontent.com/95538627/195275120-33f0a2f6-2c65-48c9-914c-432bf3119b43.png)

[2022-10-12 07:15] Ayushhgupta39 opened #675 "The battery icon doesn't update when battery saver is enabled."
### What happened?

When switching on the battery saver mode, the battery icon on the taskbar doesn't update.

After fixing the issue, the battery icon in the taskbar will change to battery saver.

![Screenshot (23)](https://user-images.githubusercontent.com/96309609/195275001-ab314da5-397c-46f1-a506-f74037d70d68.png)

### To reproduce the behavior?

Will change the battery icon using JavaScript.

[2022-10-12 07:16] Aarav238 commented on #674
Please assign it to me.
@blueedgetechno

[2022-10-12 11:28] yashash1511 commented on #675
Duplicate of #674

[2022-10-12 11:28] #675 closed

[2022-10-12 16:31] Ayushhgupta39 commented on #674
@Aarav238 Please assign this issue to Me

[2022-10-12 18:33] glitch128 opened #676 "Expand on settings application"
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
I would like the settings app to be more functional with more submenus and heightened functionality.

**Describe alternatives you've considered**
N/A

**Additional context**
Add any other context or screenshots about the feature request here.

[2022-10-13 05:08] WilliamDavidHarrison commented on #647
@Lukas-Batema Any updates?

[2022-10-13 05:09] WilliamDavidHarrison commented on #638
Any updates?

[2022-10-13 11:31] Lukas-Batema commented on #647
We've kind of pushed it into a backlog on accident, I will contact the perpetrator soon.

[2022-10-14 00:41] WilliamDavidHarrison commented on #647
Ok

[2022-10-15 16:07] yashash1511 commented on #674
whoever does it first 🥇 ;)

[2022-10-15 18:43] yashash1511 opened #683 "[Bug]: battery icon on lockscreen not visible when app in light mode"
### What happened?

![image](https://user-images.githubusercontent.com/89068816/196002982-cd1f06dd-d22d-40fc-9aff-d8cb6631c0d5.png)

### To reproduce the behavior?

just open the lock screen

### What browser are you seeing the problem on?

Microsoft Edge

[2022-10-16 13:28] WolfyGreyWolf commented on #657
Well all the element on screen are too high !

[2022-10-18 15:50] glitch128 commented on #657
@WolfyGreyWolf
Are you using a VPN?

[2022-10-19 16:39] jagritvats commented on #336
Hello, As per my understanding, we have to find a way to persist the user preferences (generally speaking), like taskbar alignment, and upon a bit of search I came across [Redux-Persist](https://www.npmjs.com/package/redux-persist) which seems useful for syncing the state and persisting it to local storage. Any thoughts ?

[2022-10-19 19:36] glitch128 commented on #20
hey, about the save files, how about requesting access for the user's local drive, like vscode.dev does? And then make another drive in the website to display the file system, or just replace the C/ drive?

[2022-10-21 01:03] radhin123 opened #685 "[Bug]:"
### What happened?

A bug happened!I have a problem while running on Railway, can anyone help and tell me how to fix it?
![Screenshot_2022-10-21-07-30-21-52](https://user-images.githubusercontent.com/78122715/197087226-cda2caa6-b8bd-42f1-98f3-a83cee7f812b.jpg)
![Screenshot_2022-10-21-07-30-35-97](https://user-images.githubusercontent.com/78122715/197087237-0870247c-90fa-45ba-83e9-cc00257144e0.jpg)

[2022-10-21 14:48] WolfyGreyWolf commented on #657
No but it's my fault , I clear the cache and all is repaired !

[2022-10-22 03:59] Jovin-Gladson opened #686 "Tabs in File Explorer & Browser"
Tabs in File Explorer would be so cool....

[2022-10-22 14:11] yashash1511 commented on #685
if you are trying to deploy make sure to use `npm run ghbuild` as the build command.

[2022-10-22 14:11] #685 closed

[2022-10-22 14:15] Posandu opened #689 "Add prettier to format code"
**Describe the solution you'd like**
Add prettier and a prettier config to format code because every time someone edits a file, it uses their formatting settings. This will break diffs.

[2022-10-22 14:18] yashash1511 commented on #689
yes

[2022-10-24 06:54] pkitachi commented on #268
Hi,
I would like to work on this.

[2022-10-25 06:15] yashash1511 commented on #686
Duplicate of #268

[2022-10-25 06:15] #686 closed

[2022-10-25 06:15] yashash1511 commented on #268
Go ahead :)

[2022-10-25 06:17] yashash1511 commented on #657
then we can close it :)

[2022-10-25 06:17] #657 closed

[2022-10-25 12:49] Colethecool360 commented on #650
hey i was just wondering if you have got at least half way sorry if im being inpatient but its been a month

[2022-10-29 08:47] yashash1511 commented on #336
SGTM

[2022-11-03 10:25] inwinter04 opened #696 "[Bug]: The desktop is not displayed after the desktop application name is changed"
### What happened?

A bug happened!
To facilitate project localization, I translated the ICONS of the desktop application. But it doesn't show an icon on the desktop
Some screenshots:
https://s1.ax1x.com/2022/11/03/xqQRYD.png
https://s1.ax1x.com/2022/11/03/xqQ2FO.png
https://s1.ax1x.com/2022/11/03/xqQWfe.png

### To reproduce the behavior?

reproduce!
You can see it on the website: win11.iamdt.eu.

[2022-11-04 06:20] inwinter04 commented on #696
It seems that this problem only arises on non-first visits. The display is normal after the Cookie is cleared.

[2022-11-04 11:45] #339 closed

[2022-11-04 11:47] yashash1511 commented on #696
I am unable to reproduce the issue even on incognito.

[2022-11-04 14:24] inwinter04 commented on #696
Maybe I didn't describe it clearly enough. 😰
Because of the cache of browser cookies, when I update a new desktop application in the code, it does not update to the browser of the old visitor.Visitors whose browsers have cookies will not be able to see the new application icon.
Perhaps we could use a Windows update prompt to remind visitors whether to sync new desktop applications to the desktop.🤔

[2022-11-05 04:26] yashash1511 commented on #696
Understood, do you want to work on this.

[2022-11-05 04:46] inwinter04 commented on #696
Problems still happen. The problem is that browser cookies still exist.
I'll repeat the problem later on in the recording screen.😀

[2022-11-05 12:42] inwinter04 commented on #696
I used the deletion of the desktop shortcut to indicate that a new application was added and the browser was not synchronized
Checking for updates and restarting will not solve the problem. Maybe that's what we're going to do next.
recording screen:  http://f6z.cn/TFIAi

[2022-11-06 03:40] inwinter04 commented on #696
I used the deletion of the desktop shortcut to indicate that a new application was added and the browser was not synchronized
Checking for updates and restarting will not solve the problem. Maybe that's what we're going to do next.
recording screen: http://f6z.cn/TFIAi

[2022-11-13 03:35] WilliamDavidHarrison commented on #638
No stale

[2022-11-16 11:24] ender2542 opened #699 "Please add this"
I suggest adding the "installer" for Windows to make it more realistic, this is the installer I mean.
![download](https://user-images.githubusercontent.com/101177890/202167939-debf95a3-069e-4d81-b9d8-35fc98277ddf.png)

[2022-11-18 02:14] #676 closed

[2022-11-20 02:14] #674 closed

[2022-11-21 22:44] PoolloverNathan opened #701 "Allow mounting local directories as drives"
**Describe the solution you'd like**
I want to be able to mount filesystems as drives and access them using File Explorer. This would most likely be triggered in the context menu of This PC.

**Describe alternatives you've considered**
I can't think of any alternatives for being able to use local files.

**Additional context**
This would most likely be implemented with the [File System Access API]

[2022-11-22 23:10] RadioactivePotato opened #702 "[Bug]: Apps window stuck to the top of the window."
### [Bug]: Apps window stuck to the top of the window. #702

Notice that the close, minimize button is out of the page.

[Screen recording 2022-11-22 23.05.59.webm](https://user-images.githubusercontent.com/75719839/203439376-556fe27b-d5eb-42b5-8a32-b023ca25b078.webm)

### To reproduce the behavior?

by opening the an app

### What browser are you seeing the problem on?

Chrome

[2022-11-23 13:20] yashash1511 commented on #701
Go ahead @PoolloverNathan I will assign this to you.

[2022-11-26 05:54] yashash1511 commented on #702
That should not have happened, will look into it.

[2022-11-28 15:38] hassanmh7720 commented on #702
**Nice**, How to create this.

[2022-11-28 17:48] glitch128 commented on #702
are you using a vpn? that was causing the problem for me.

[2022-11-28 17:51] RadioactivePotato commented on #702
@glitch128 yes

[2022-11-28 17:53] glitch128 commented on #702
try disabling the vpn and reloading. that should fix it.

[2022-11-28 17:54] RadioactivePotato commented on #702
@glitch128 ok will try that later

[2022-11-28 23:05] WilliamDavidHarrison commented on #638
@andrewstech would this be possible?

[2022-11-28 23:06] WilliamDavidHarrison commented on #647
@Lukas-Batema Have you contacted them yet?

[2022-11-30 18:50] glitch128 commented on #702
did it fix it?